[submodule "catkin"]
	path = catkin
	url = https://github.com/hiDOF-forks/catkin.git
[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/hiDOF-forks/catkin_simple.git
[submodule "catkin_pkg"]
	path = catkin_pkg
	url = https://github.com/hiDOF-forks/catkin_pkg.git
